extends layout

block content
  h3 #{title}
  #chart_div.z-depth-1
  each val in articles
    .row
      .col.s12
        .card
          .card-image
            img(src=val.image)
            span.card-title #{val.title}
          .card-content
            #article_chart
            p
              | #{val.description}
              br
              | <div id=#{val.div} style='display: inline-block; margin: 0 auto;  width: auto;'>
              br
              |
          .card-action
            a(href=val.url) Read Article

  script(type='text/javascript').

    google.charts.load('current', {'packages':['corechart']});


    google.charts.setOnLoadCallback(drawMainPieChart);

    function drawMainPieChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Tone');
      data.addColumn('number', 'Score');
      data.addRows([
      #{document_tones}
      ]);
      var options = {title:'Overall Tone Analysis',
      width:400,
      height:300};
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
      let articles = !{JSON.stringify(articles)};
      articles.forEach( function (article) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Tone');
        data.addColumn('number', 'Score');
        article.tones.forEach(function (tone){
          data.addRows([
          [tone.tone_name, tone.score]
          ]);
        });

        var options = {title:'Article Tone Analysis',
        width:800,
        height:300};
        var chart = new google.visualization.BarChart(document.getElementById(article.div));
        chart.draw(data, options);
      });
    }



